<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>E-motions Engineering</title>  

<link href="./static/main.97292821.css" rel="stylesheet">
<link href="./static/style.css" rel="stylesheet">
</head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html#footer_connect" title="" class="anchor-link">Contact Us</a></li>
            <li>
                <p>
                    <a href="./index.html" class="btn btn-default navbar-btn" >Home</a>
                </p>
            </li>


        </ul>

      </div>
    </div>
  </nav>
</header>
    
    <div class="section-container" style="background-image: url('./static/assets/images/aron-visuals-ycyLUcEoalE-unsplash.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">

                </div>
                <div class="col-xs-12 col-md-4 section-container-spacer">
                    <br>
                    <br>
                    <img src="./static/assets/images/simon-migaj-Yui5vfKHuzs-unsplash.jpg" alt="" class="img-responsive">
                    <br>
                    <!-- <button type="button" class="btn btn-primary btn-lg">Get Meditation</button> -->
                    <a href="./free-7-step-meditation.html#get-download" title="" class="btn btn-danger btn-lg center-block">Get Meditation</a>
                </div>
                <div class="col-xs-12 col-md-4">

                    
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-3">

                </div>
                <div class="col-xs-12 col-md-6 white-text-container">
                    <p class=MsoNormal><strong><span style='font-family:"Calibri",sans-serif;
                        '>Why the 7 Step Meditation?</span></strong><br>
                        <br>
                        Do you feel stressed, stuck, sad, tired, or frustrated? Do you just want more
                        out of life, your relationships, or better health?<br>
                        <br>
                        The 7 Step Meditation is a transcendent practice that enables you do go beyond
                        you're your habitual mental chatter and step into compassion, forgiveness,
                        gratitude, and build your future life and your upcoming day that takes you in
                        and connects you&nbsp;outward, all&nbsp;in <em><span style='font-family:"Calibri",sans-serif;
                        ;'>under 20 minutes</span></em>.<br>
                        Ancient wisdom mixed with modern science has led to this compilation of the
                        most effective techniques to get you into the present and allow you to let go
                        of the past so you can architect your perfect future.<br>
                        <br>
                        <strong><span style='font-family:"Calibri",sans-serif'>How does it work?</span></strong><br>
                        <br>
                        <em><span style='font-family:"Calibri",sans-serif;'>It all starts with Step 0:&nbsp;</span></em>Calming
                        the mind into the Alpha state<br>
                        <br>
                        Our minds are often in the Beta state where we are thinking and analyzing. When
                        our minds drop into the Alpha <span class=GramE>state</span> we feel calm and
                        our more open to taking on new information and ways of being. In this step we
                        utilize proprioception, the ability of the body to know where it is in space,
                        along with hypnotic language patterns, to quickly get you into a relaxed Alpha
                        state. During this step you may or may not feel confused by what is going and
                        this is part of the process to prepare you for the next 7 steps.&nbsp;<br>
                        <br>
                        <em><span style='font-family:"Calibri",sans-serif;'>Step 1: Love and Compassion</span></em><br>
                        <br>
                        In this step you cultivate a sense of love and compassion for yourself and for
                        all living beings on the planet.<br>
                        <br>
                        <em><span style='font-family:"Calibri",sans-serif;'>Step 2: &nbsp;Gratitude</span></em><br>
                        <br>
                        In this step you will cultivate gratitude for 3 experiences in each of 3
                        categories: Personal, work, and self.<br>
                        <br>
                        <em><span style='font-family:"Calibri",sans-serif;'>Step 3: Forgiveness</span></em><br>
                        <br>
                        Resentment or anger is like taking poison and hoping it'll harm someone else.
                        In this step we stop taking the poison by forgiving a person who has wronged us
                        in the past. It does not mean dropping the charges, or letting them off the
                        hook, it means we no longer have any ill-will or negative charge toward that
                        person. Forgiveness is about you, not the other person.<br>
                        &nbsp;<br>
                        <em><span style='font-family:"Calibri",sans-serif;'>Step 4: Your Future Life</span></em><br>
                        <br>
                        Here we create your future life and identity by asking a series of lofty
                        questions which presupposes that you already are the person who has the life
                        that you want because the law of resonance states that the universe gives you
                        who you are. Allow to come to mind any goals or outcomes you would like to come
                        true over the next 2 to 3 years and contemplate the following lofty questions.
                        Rest in the experience that follows the question being asked and your mind will
                        create the identity of the person whose reality is those questions and the
                        future life you envision.<br>
                        <br>
                        <em><span style='font-family:"Calibri",sans-serif;'>Step 5: Your Perfect Day</span></em><br>
                        <br>
                        With the knowledge of who you want to be in the next few years we begin to
                        envision your upcoming day that will be begin the process of making that future
                        your present.<br>
                        <br>
                        <em><span style='font-family:"Calibri",sans-serif;'>Step 6: The blessing or wish</span></em><br>
                        <br>
                        We connect the previous steps and infuse them with additional energy by asking
                        a higher power or our higher selves for a blessing or well-intentioned wish.
                        Such as "May I feel loved" or "May I have strength". You may also thank your
                        higher power in any way you feel is appropriate.<br>
                        <br>
                        <em><span style='font-family:"Calibri",sans-serif;'>Step 7: Connecting with the outer world</span></em><br>
                        <br>
                        We end by bringing our inner meditation to the outer world by practicing open
                        eyed meditation for a few minutes. The purpose of meditation goes beyond being
                        a "good" meditator and is about leading our "good" life in a conscious way with
                        others. The technique used is adapted from <span class=SpellE>Shamatha</span>
                        meditation, which means "peaceful abiding", and comes from householder lineage
                        of Tibetan Buddhism.<br>
                        &nbsp;<br>
                        The <strong><span style='font-family:"Calibri",sans-serif;'>7 Step Meditation completes in just under 20
                        minutes</span></strong> leaving you feeling connected to yourself and other,
                        and ready to take on the day.<br>
                        <br>
                        <em><span style='font-family:"Calibri",sans-serif;'>Bonus Step 8: Additional meditation time.</span></em><br>
                        <br>
                        Enjoying the open-eyed meditation time? The relaxing music continues for an
                        additional 5 minutes allowing you to practice more if you'd like or to gently
                        come out of the 7 Step Meditation at your pace.<br>
                        <br>
                        Ready to get started?&nbsp;You can find the 7 Step Meditation</p>
                </div>

                <div class="col-xs-12 col-md-3">

                </div>
            </div>      
            <div class="row">
                <div class="col-xs-12 col-md-4">

                </div>
    
                <div class="col-xs-12 col-md-4" id = "get-download">
                    <!-- Begin Mailchimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <style type="text/css">
                        #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
                        #mergeRow-gdpr {margin-top: 20px;}
                        #mergeRow-gdpr fieldset label {font-weight: normal;}
                        #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
                    </style>
                    <div id="mc_embed_signup">
                    <form action="https://e-motionsengineering.us19.list-manage.com/subscribe/post?u=34168b4d8d21c9c241155d74d&amp;id=2aa3294434" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <h2>Sign up to get the FREE Meditation....</h2>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                    </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                    </label>
                        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                    </div>
                    <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                        <div class="content__gdpr">
                            <label>Marketing Permissions</label>
                            <p>Do you want to access the meditation and other updates from E-motions Engineering LLC such as the latest podcasts? Check the box below.</p>
                            
                            <div class="col-xs-12 center-block">
                                <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                                <label class="checkbox subfield" for="gdpr_93878"><input type="checkbox" id="gdpr_93878" name="gdpr[93878]" value="Y" class="av-checkbox gdpr"><span>Email</span> </label>
                                </fieldset>
                                <p></p>
                            </div>  


                            
                            <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
                        </div>
                        <div class="content__gdprLegal">
                            <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
                        </div>
                    </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_34168b4d8d21c9c241155d74d_2aa3294434" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Get Meditation" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger btn-lg center-block"></div>
                        </div>
                    </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
                <div class="col-xs-12 col-md-4">
                    
                </div>
            </div>
            
        </div>
    </div>







<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        
      googleMapInit(); 
      scrollToAnchor();
      scrollRevelation('reveal');
    });
    </script>
    
    <footer class="footer-container white-text-container">
        <div class="container" id="footer_connect">
            <div class="row">
                    <div class="col-md-4">
                        <h4>About us</h4>
                        <p>Our vision is for the promise of technology to be great again. Where technology of the people, by the people, for the people shall enrich lives and elevate our consciousness and not just extract profit from the people.</p>
                    </div>
    
                    <div class="col-md-4">
                        <h4>Want to connect ? Click !</h4>
                        <div>
                            <p>
                                <a href="https://twitter.com/JustinWenck" class="fa-icon" title="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                                <a href="https://www.facebook.com/justin.wenck" class="fa-icon" title="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="http://www.linkedin.com/in/justinwenck" class="fa-icon" title="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div>
                            <p><small>© 2020 Justin Wenck | Photo by Simon Migaj on Unsplash | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                        </div>
    
                    </div>
    
                    <div class="col-md-4">
                            
                        <!-- <h4>Subscribe to newsletter</h4>
                        
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control footer-input-text">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-newsletter ">OK</button>
                                </div>
                            </div> -->
                            
                            
                        </div>
                    </div>
            </div>
        </div>
    </footer>
    
    <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
    });
    </script>
    
    
    <script type="text/javascript" src="./static/main.faaf51f9.js"></script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"34168b4d8d21c9c241155d74d","lid":"2aa3294434","uniqueMethods":true}) })</script>