<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>E-motions Engineering</title>  

<link href="./static/main.97292821.css" rel="stylesheet">
<link href="./static/style.css" rel="stylesheet">
</head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="./index.html" class="nav-item nav-link active" ><i class="fa fa-home" aria-hidden="true"></i></a>         
           </li>
           <li>
            <a href="./free-7-step-meditation.html" class="nav-item nav-link text-success" >Free Meditation</a> 
    </li>
    <li>
        <a href="./index.html#podcast" class="nav-item nav-link" >Podcast <i class="fa fa-podcast" aria-hidden="true"></i></a>         
   </li>
   <li>
    <a href="https://content.e-motionsengineering.com/" class="nav-item nav-link" >Store</i></a>         
</li>
           <li><a href="./index.html#footer_connect" title="" class="nav-item nav-link">Contact Us</a></li>
            
            
           


        </ul>

      </div>
    </div>
  </nav>
</header>



<!-- Add your site or app content here -->
<!-- <div class="background-image-container white-text-container" style="background-image: url('./static/assets/images/facebook_cover_photo_1.png')"> -->
    
<div class="background-image-container white-text-container" style="background-image: url('./static/assets/images/aron-visuals-ycyLUcEoalE-unsplash.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="./static/assets/images/logo_transparent.png" alt="" class="img-responsive">
                <h3>Bringing purpose and passion to the lives of tech workers</h3>
                <a href="#footer_connect" class="btn btn-primary btn-lg anchor-link" title="">Get in touch</a>
            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Our Values</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="fa-container">
                    <i class="fa fa-rocket fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Growth</h3>
                <p>Personal development and accomplishment are an integral part to fullfillment</p>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="fa-container">
                    <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Belonging</h3>
                <p>Home - sometimes it feels like place you left or maybe never had. It's a feeling that starts to be cultivated when you find your tribe and it catches fire once you cultivate it and realize it comes from within. Where you go, whoever you're with, you're home. You BELONG.</p>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="fa-container">
                    <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Love</h3>
                <p>Connection, physical contact, acceptance, and rommance: They cost nothing and should be given and felt much more often.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="fa-container">
                    <i class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Fun</h3>
                <p>Humor, adventure, enjoying the water...or whatever your happy place is. Fun happens NOW</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./static/assets/images/EEE_Podcast_Cover.jpg')"></div>
    <div class="container" id="podcast">
        <div class="row">
            <div class="section-label reveal">
                <!-- <p>PODCAST</p> -->
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>The Engineering Emotions and Energy Podcast</h2>
                <h3>with Justin Wenck</h3>
                <p>What if you could have the life you want, now? When you look at what creates the life you have, your emotions and energy are a key component and engineering them engineers your life. Justin Wenck has a PhD in Electrical Engineering and over a decade of experience with yoga, meditation, nutrition, fitness, and personal development and he'll be your guide on this journey.</p>
                <script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/787193.js?player=large&limit=10'></script>

            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Our Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-02.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Speaking</h3>
                <p>From keynotes to event emcee we've got the content and delivery to entertain, entrain, and excite your attendees.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-03.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Coaching</h3>
                <p>Yoga, meditation, nutrition, fitness, and personal & career development: Time to get to the next level? See if our coaching is right for you.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-04.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Consulting</h3>
                <p>Contact for available service.</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="">
    <div class='container-fluid'>
        <div class="row map-container">
            <div id="map"></div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Phone</h3>
                        <p>+ 123 45 67 890</p>

                        <h3>E-mail</h3>
                        <p>hello@email.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Address</h3>
                        <p>42 rue rouelle 75015, Paris</p>

                        <h3>Open hours</h3>
                        <p>Mon - Fri : 9AM - 5PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Get in touch</h2>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Enter your message"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">Email me a copy
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2">I am a human
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Send message</button>
                    <a href="" class="btn btn-default">Reset</a>
                </form>
            </div>
        </div>
    </div>
</div> -->


<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container" id="footer_connect">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>Our vision is for the promise of technology to be great again. Where technology of the people, by the people, for the people shall enrich lives and elevate our consciousness and not just extract profit from the people.</p>
                </div>

                <div class="col-md-4">
                    <h4>Want to connect ? Click !</h4>
                    <div>
                        <p>
                            <a href="https://twitter.com/JustinWenck" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com/emotionsengineering" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="http://www.linkedin.com/in/justinwenck" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© 2020 E-motions Engineering LLC | Photo by Aron Visuals on Unsplash |Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                    <!-- <h4>Subscribe to newsletter</h4>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control footer-input-text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-newsletter ">OK</button>
                            </div>
                        </div> -->
                        
                        
                    </div>
                </div>
        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>


<script type="text/javascript" src="./static/main.faaf51f9.js"></script>